- content_for :title do 
  CourseForce 
  \|
  = @enrollment
  \| Editing
  
.card
  .card-header
    %h3 
      .fa.fa-lock-open
      Editing enrollment
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show', @enrollment
    .row 
    = link_to 'Back', enrollments_path
